.header-color{
  background-color: #53a318;
}
.whole-header {
  // border: 2px solid black;
  width: 1100px;
  margin: auto
}

.upper-header {
  // background-color: #53a318;
  display: flex;
  color: white;
  justify-content: flex-end;
  font-family: Open Sans,OpenSans,system,-apple-system,BlinkMacSystemFont,Roboto,Arial,FreeSans,sans-serif;
  font-size: 14px;
}


.upper-header-width {
  // border: 2px solid blue;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  width: 37%;
}

.header-link {
  padding: 0.4em;
  padding-bottom: 0.1em;
}


.header {
  // border: 2px solid yellow;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: white;
  font-family: Open Sans,OpenSans,system,-apple-system,BlinkMacSystemFont,Roboto,Arial,FreeSans,sans-serif;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  padding: 0.4em;
  padding-top: 0.1em;
}

.input-container{
  display:flex;
  font-weight: 400;
  font-size: 17px;
  padding: 0.4em;
  padding-top: 0.1em;
  justify-content: space-between;
  min-width: min-content;
}


.search {
  display: flex;
  background-color: white;
  border-radius: 2px;
  color: black;
  width: 400px;
  margin: auto 0;
  padding-left: 6px;
  margin-right: 15px;
}
.fa-search {
  // content: '\f002';
  font-size: 30px;
  color: rgb(190, 188, 188);
  padding-top: 0.1em;
}

.location {
  // border: 1px solid black;
  display: flex;
  border-radius: 2px;
  color: black;
  margin: auto 0;
} 
.button-search {
  border: 2px solid white;
  margin-left: 8px;
  width: 40px;
  border-radius: 3px;
  text-align: center;
}

.fa-search-location.search-button {
  color:rgba(244, 239, 239, 0.97);
  font-size: 1.3em;
  padding: 0.09em;
}


.input-location {
  background-color: white;
  padding-left: 6px;
  padding-right: 12px;
  width: 100%;
}


.signin-name {
    // border: 1px solid black;
    margin: auto;
    padding: 0.4em;
    padding-top: 0.1em;
    min-width: fit-content;
    min-height: fit-content;
    margin-right: 0;
    // text-align: center;
    // padding-top: 0.5%;
}

.fa-map-marker {
background-color: white;
font-size: 34px;
color: rgb(190, 188, 188);
}



.fa-shopping-cart {
    font-size: 13px;
    margin-right: 5px;
}

.fa-bell {
  padding-right: 0.5em;
  font-size: 19px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
    border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 7px;
  margin-bottom: 3%;
}