.header-color{
  border: 2px solid #53a318;
  background-color: #53a318;
}
.whole-header {
  // border: 2px solid black;
  width: 1100px;
  margin: auto
}

.upper-header {
  display: flex;
  color: white;
  justify-content: flex-end;
  font-family: Open Sans,OpenSans,system,-apple-system,BlinkMacSystemFont,Roboto,Arial,FreeSans,sans-serif;
  font-size: 14px;
  // background-color: #53a318;
}


.upper-header-width {
  // border: 2px solid blue;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  width: 37%;
}

.header-link {
  // padding-left: 1em;
  padding: 0.4em;
}


.header {
  // border: 2px solid yellow;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: white;
  font-family: Open Sans,OpenSans,system,-apple-system,BlinkMacSystemFont,Roboto,Arial,FreeSans,sans-serif;
  // position: relative;
  // overflow: hidden;
  // z-index: 20;
  // padding-left: 16%;
  // padding-right: 10%;
  // margin: 0 auto;
  // height: 54px;
  // width: fit-content;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  padding: 0.4em;
  // padding-left: 1vw;
  // margin-right: auto;
  // display: flex;
  // justify-content: center;
  // // height: 30px;
  // color: white;
  // margin: 0px 70px 0px 0px;
  // text-decoration-line: none;
  // border: 1px solid black;
}

.input-container{
  display:flex;
  font-weight: 400;
  font-size: 17px;
  padding: 0.4em;
  display: flex;
  justify-content: space-between;
   
  // box-sizing: border-box;
//   margin-left:0;
//   width:600px;
//   height:80px;
//   justify-content: center;
//   align-items: center; 
  // border: 2px solid black;
}


.search {
  display: flex;
  background-color: white;
  border-radius: 5px;
  color: black;
  width: 400px;
  height: 40px;
  margin: auto 0;
  padding-left: 6px;
  margin-right: 15px;
}
.fa-search {
  // content: '\f002';
  font-size: 30px;
  color: rgb(190, 188, 188);
  padding-top: 0.1em;
}

.location {
  display: flex;
  background-color: white;
  border-radius: 5px;
  padding-left: 6px;
  color: black;
  width: 208px;
  height: 40px;
  margin: auto 0;
//   height: 40px;
//   margin-left: 10px;
  // border: 1px solid black;
} 


.fa.fa-search.search-button:before {
  color:rgba(244, 239, 239, 0.97);
  border: 2px solid white;
  margin: auto 0.5vw;
  padding: 0.38vw;
  padding-top: 0.20vw;
  font-size: 1.5vw;
  text-align: center;
  line-height: 50%;

}


.button-search button:hover {
  background-color: yellow;
}

.input-location {
  padding-left: 6px;
  padding-right: 12px;
  width: 100%;
}


.signin-name {
    text-align: center;
    padding-top: 0.5%;
}

.button {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 30px;
//   text-decoration-line: none;
//   color: white;
//   width:70px; 
//   box-sizing: border-box;
  border: 1px solid black;
}

// .button:hover {
//   color: white;
//   width: 70px;
//   height: 40px;
//   transition: color .5s linear;
// }

// .log-out-buttom:hover {
//     color: white;
//   width: 90px;
//   height: 40px;
//   transition: color .5s linear;
//   // background-color: black;
// }

// .login-signup {
  // margin: auto;
  // text-decoration: none;
  // font-size: 18px; 
  // line-height: 28px;
  // display: flex;
  // box-sizing: border-box;
  // border: 1px solid black;
// }




.fa-map-marker:before {
  font-size: 34px;
  color: rgb(190, 188, 188);
}

.fa-shopping-cart {
    font-size: 13px;
    margin-right: 5px;
}

.fa-bell {
  margin: auto 1vw;
  font-size: x-large;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
    border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 7px;
  margin-bottom: 3%;
}