
.index-items {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  margin: 0 auto;
  width: 1074px;
  padding-top: 10px;
  font-family: Open Sans,OpenSans,system,-apple-system,BlinkMacSystemFont,Roboto,Arial,FreeSans,sans-serif;
  // border: 1px solid red;
    // background-color: grey;
}
.best-deal-container{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid  #e6e7e8;
  margin: 0.6em;
  padding-bottom: 1em;
  width: 100%;
  
}

    // font-size: 30px;
    // font-weight: 500;
    // width: 84%;
    // margin-bottom: 2px;
    // /* max-height: 40px; */
    // /* overflow: hidden; */
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;


    // box-sizing: border-box; */
    // font-size: 20px;
    // margin-top: 7px;
    // width: 82%;
    // color: #75787b !important;
    // border: 1px solid red;
    // max-height: 69px;
    // margin-bottom: 12px;
    // overflow: -webkit-paged-y;

.bstdlproductName {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 2px;
    width: 91%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bstdlproductName:hover {
  overflow: visible;
}

.bsdlcategory {
    color: #75787b !important;
    font-size: 21px;
}
.bstdldescription {
    font-size: 20px;
    margin-top: 7px;
    width: 82%;
    color: #75787b !important;
    max-height: 72px;
    overflow: -webkit-paged-y;
}
.bstdl-prod-left {
      width: 584px;
}

.bstdl-bottom-left {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.bsdlviewdiv {
    border: 1px solid #53a318;
    color: #fff;
    font-size: 21.5px;
    min-width: 5em;
    line-height: 1.2rem;
    padding: .4em 1.6rem;
    border-radius: 2px;
    text-align: center;
    background-color: #53a318;
}

.bstdlpriceOff-con {
    justify-content: flex-end;
    display: flex;
}

.bstdlpriceOff {

    border: 1px solid green;
    width: fit-content;
    font-size: 13px;
    color: green;
    padding: 0.2em 0.8em;
    margin: 0.4em;
    margin-right: 0.8em;
}

.bstdl-city-rating {
      // padding-top: 1em;
    color: #75787b !important;
}

.all-deals-container {
    border-bottom: 3px dotted #75787b;
    width: 100%;
    margin: 0.7em;
    display: flex;
    justify-content: space-between;
}

.all-deals-header {
  font-weight: 300;
  margin: 0;
  padding: 0.4em 0;
}
.sort-by-container {
  padding: 0.4em 0;
  padding: 0.4em 0;
  border: 1px solid green;
  font-size: 1.5em;
}
.image-container {
  position: relative;
  max-width: fit-content;
  max-height: fit-content;
}

.bstdl-recentview {
  position: absolute;
  // bottom: 1.25em;
  bottom: 0;
  margin: 0;
  left: 0;  
  background: blueviolet;
  color: white;
  padding: 0.2em 1.5em;
  font-size: 1em;
  border-radius: 5px;
}
