.index-item-container {
  // border: 2px solid black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.index-item {
  // width: 33vh;
  // height: 33vh;
  //   border-bottom-width: 1px;
  //   border-bottom-style: solid;
  //   transition: border-bottom .4s;
  //   background-color: var(--color-white);
    // width: 75vh;
    // height: 78vh;
    /* border: 2px solid black; */
    // transition: border-bottom .4s;
    // background-color: var(--color-white);
    padding: 3px;
    // margin: 5px;
}
.index-pics {
  width: 345px;
  height: 210px;
}

