.login-write-review {
  // border: 1px solid;
  // padding: 0.4em;
  // margin: 10px;
  font-size: 20px;
  border-radius: 3px;
  border-bottom: 1px solid;
}
.login-write-review:hover {
  color: #53a318;
}

.frst-to-review {
  font-size: 2em;
  padding: 0.4em;
  padding-left: 0.2em;
  text-decoration: underline;
  font-weight: 300;
}

.review-body {
  display: flex;
  flex-direction: column;
  background-color: #dee1e5;
  border-radius: 10px;
  margin-bottom: 2em;
}
.write-reve-title {
  margin: 0;
  padding: 0;
  padding: 0.5em 0 0.3em 0.8em;
  font-weight: 400;
}
.review-errs {
  color: red;
  padding-left: 0.9em;
  line-height: 1.6;
}
.review-stars {
  display: flex;
  padding: 0.5em;
  padding-top: 0.3em;
  padding-left: 0.7em;
}
.fa-star.write-review {
  font-size: 40px;
}
.review-input {
    background-color: white;
    border-top: 1px solid #d5d8db;
    border-radius: 5px;
    min-height: 92px;
    width: 95%;
    display: flex;
    padding-left: 7px;
    padding-top: 11px;
    margin-left: 0.7em;
    margin-bottom: 10px;
}

.post-review {
    background-color: #53a318;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin: 0.6em;
    font-size: 22px;
}

// -----------posted-review--------
.posted-review {
  // border: 1px solid red;
  margin: 0.6em 0;
}
.review-auth-btns {
  display: flex;
  justify-content: space-between;
}
.indxrev-butns {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

.review-author {
// padding: 0;
margin: 0;
padding-left: 0.2em;
}
.indxrev-butn {
    background-color: #53a318;
    color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin: 0 0.6em;
}
.fa-star.posted-star {
  font-size: 25px;
}
.posted-review-body {
  padding: 0.7em;
  padding-top: 0;
}