.show-container {
  margin: 0 auto;
  width: fit-content;
  // display: flex;
  // flex-direction: row;x
}
.inside-show-container {
  display: flex;
  flex-direction: row
}

.show-container h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.right-show-container {
  border: 2px solid black;
  width: 33.33%;
  // height: 100px;
  display: flex;
  flex-direction: column;
      padding-right: 0;
    padding-left: 20px;
}

.left-show-container {
  border-right: 1px solid #e6e7e8;
  width: 600px;
    margin-right: 0;
    padding-right: 20px;
}

.main-picture {
    width: 100%;
    margin: 0 auto;
    // padding: 2px;
}

.show-images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2px;
  margin: 0px auto;
  width: 100%;
}

.show-images .image-show {
  width: 30%;
  margin: 7px 7px
  // margin-right: 7px;

}

hr {
      color:#afb1b3;
    height: 2px;
    margin: 10px 0 20px;
        border: 0;
    border-bottom: 1px solid#afb1b3;
}

.rating-bought {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px solid #e6e7e8;
}

.fa-star {
  color: rgb(133, 124, 124);
  font-size: 15px;
}

.checked {
  color: orange;
}

.clc-eye-star {
  width: 33%;
  padding: 13px;
  padding-left: 0px;
  text-align: center;
}

.show-title {
  display: flex;
  
  flex-direction: row;
  text-align: center;
}
.title-rating {
  padding-top: 3%;
  padding-left: 3px;
  // text-align: center;
    //   display: block;
    // font-size: 1.5em;
    // margin-block-start: 1em;
    // margin-block-end: 1em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    // font-weight: bold;
    font-size: 1em;
    // padding-top: 1.7em;
    // text-align: center;

    // margin-block-start: 1em;
}

.title-rating .fa-star {
  font-size: 20px;
  padding: 2px;
  line-height: 71%;
}

.show-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.show-submit {
  background: #53a318;
  color: white;
  text-align: center;
  border-radius: 4px;
  height: 44px;
  width: 100%;
  margin: 10px;
  font-size: 14px;
  font-weight: 600;
  // padding: 0;
  // border: 5px solid black;
}

a.show-submit {
  line-height: 45px;
}

.review-input {
    border: 1px solid #d5d8db;
    border-radius: 5px;
    width: 95%;
    display: flex;

    padding-left: 7px;
    padding-top: 11px;
}
